<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width: device-width, init-scale=1.0'>
    <title>监听子组件事件</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <div :style="{ fontSize: postFontSize + 'em' }">
        <blog-post
            v-for="post in posts"
            :key="post.id"
            :post="post"
            @enlarge-text="onEnlargeText">

        </blog-post>
    </div>

    <h2>01 使用事件抛出一个值</h2>
    <h2>02 在组件上使用 v-model</h2>
    <input type="text" v-model="inputText">
    <custom-input v-model="inputText"></custom-input>
</div>
<script>
    Vue.component("blog-post",{
        props:["post"],
        template:`<div class="blog-post">
                    <h3>{{post.title}}</h3>
                    <button @click="$emit('enlarge-text',0.2)">Enlarge text</button>
                    <div v-html="post.content"></div>
                    </div>`
    })
    Vue.component("custom-input",{
        props:["value"],
        template: `<input :value="value" @input="$emit('input', $event.target.value)">`
    })
    new Vue({
        el:"#app",
        data:{
            posts:[
                {id:0,title:"Vue00",content:"content00"},
                {id:1,title:"Vue01",content:"content01"},
                {id:2,title:"Vue02",content:"content02"},
                {id:3,title:"Vue03",content:"content03"},
            ],
            postFontSize:1.0,
            inputText:""
        },
        methods:{
            onEnlargeText:function (event) {
                this.postFontSize+event
            }
        }
    })
</script>
</body>
</html>