<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width: device-width, init-scale=1.0'>
    <title>v-if</title>
    <script src="../../vue.js"></script>
</head>
<body>
<div id="app">
    <h1>01 在 template 元素上使用 v-if 条件渲染分组</h1>
    <template v-if="ok">
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
    </template>
    <h1>02 v-else v-else-if</h1>
    <p v-if="Math.random()<0.3">Math.random()<0.3</p>
    <p v-else-if="Math.random()>=0.3&&Math.random()<0.6">Math.random()>=0.3&&Math.random()<0.6</p>
    <p v-else>Math.random()>=0.6</p>
    <h1>03 用 key 管理可复用的元素</h1>
    <template v-if="loginType">
        <lable>Username</lable>
        <input key="username-input" placeholder="Enter your username">
    </template>
    <template v-else>
        <lable>Email</lable>
        <input key="email-input" placeholder="Enter your email address">
    </template>
    <button @click="toggleType">切换输入类型</button>
    <h1>04 v-show</h1>
    <span v-show="ok">一般来说，v-if 有更高的切换开销，而 v-show 有更高的初始渲染开销。因此，如果需要非常频繁地切换，则使用 v-show 较好；如果在运行时条件很少改变，则使用 v-if 较好。</span>


</div>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            awesome:false,
            ok:true,
            loginType:true
        },
        methods:{
            toggleType:function () {
                this.loginType = !this.loginType
            }
        }
    })
</script>
</body>
</html>